<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
</head>
<body>
<div class="alert alert-success" role="alert">
    Имя {{ n_dict['name'] }}
</div>
<div class="alert alert-success" role="alert">
    Фамилия {{ n_dict['surname'] }}
</div>
<div class="alert alert-success" role="alert">
    Образование {{ n_dict['education'] }}
</div>
<div class="alert alert-success" role="alert">
    Профессия {{ n_dict['profession'] }}
</div>
<div class="alert alert-success" role="alert">
    Пол {{ n_dict[sex] }}
</div>
<div class="alert alert-success" role="alert">
    Мотивация: {{ n_dict['motivation'] }}
</div>
<div class="alert alert-success" role="alert">
    Готовы остаться? {{ n_dict['ready'] }}
</div>
</body>
</html>